.carousel{
    width: 80%;
    height: 400px;
    :global(.slick-slider.slick-initialized) {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    :global(.slick-list){
        width: 100%;
        margin: 0 0.2em
    }
}
.carousel__item{
    margin: 1em;
    padding: 1em;
    width: 100%;
    height: 400px;
    cursor: pointer;

}
.carousel__item__single{
    margin: 1em auto;
    padding: 1em;
    width: 100%;
    height: 100%;
    cursor: pointer;
    max-width: 900px;
}
@media screen and (width >= 768px) {
    .carousel{
        :global(.slick-list){
            margin: 0 1em
        }
         :global(.slick-track){
            margin: 0 auto
        }
    }
}
@media screen and (width >= 1480px) {
    .carousel{
        height: 500px;
        :global(.slick-list){
            margin: 0 2em
        }
        :global(.slick-track){
            margin: 0 auto
        }
    }
}
 