.projectname__wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1em 0;
    position: relative;
}
.projectname__wrapper__mask{
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    background-color: #000;
    z-index: 10;
}
.projectname__wrapper__type{
    color: var(--special-color);
    font-size: 1em;
}
.projectname__wrapper__info{
    display: flex;
    border-radius: 5px;
    overflow: hidden;
    margin: 0.6em 0;
}
.projectname__wrapper__info__index{
    background-color: #fff;
    padding: 0 0.2em;
    font-size: 2.4em;
    color: #1e1e1e;
    font-weight: 300;
    letter-spacing: 2px;
}
.projectname__wrapper__info__name{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    padding: 0 0.5em 0 0.7em ;
    background-color: #1e1e1e;
    color: #ededed;
}
.projectname__wrapper__link{
    position: relative;
    padding: 0.2em 0.3em;
}
.projectname__wrapper__link__anchor{
    transition: .3s ease-in-out;
}
.projectname__wrapper__link:hover > .projectname__wrapper__link__span{
    width: 100%;
}
.projectname__wrapper__link__span{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    transition: .3s ease-in-out;
    height: 1px;
    background-color: var(--special-color);
}

@media screen and (width >= 768px) {
    .projectname__wrapper{
        margin: 3em 2em 0 0 ;
    }
}