.tech{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;
    --index: 3;
}
.tech__header{
    font-size: 1.5em;
    margin: 1em 0;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-weight: 300;
}
.tech__main{
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0.8);
    flex-direction: row;
    width: 100%;
    margin-top: 0em;
}
.tech__main__nav{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    color: #999;
    padding: 0.5em 1em;
    margin-bottom: 2em;
}
.tech__main__nav__element{
    position: relative;
    cursor: pointer;
    padding: 1em 1em;
    font-size: 1.4em;
    transition: .3s ease-in-out;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.tech__main__nav__element__active{
    color: var(--special-color);
}
.tech__main__nav__element__span{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 1px;
    background-color: var(--special-color);
    transition: .3s ease-in-out;

}
.tech__main__nav__element__active .tech__main__nav__element__span{
    margin: 0 auto;
    width: 60%;
}
.tech__main__technologies{
    border: 1px solid #fff3;
    height: 100%;
    
    padding: 0.5em 1em;
    margin-left: 2em;
    overflow: hidden;
    min-width: 90px;
    
}
.tech__main__technologies__element{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    padding: .9em 1em;
    font-size: 1.4em;
    letter-spacing: 1px;
    color: #ddd;
}
.tech__main__technologies__element__name{
    display: none;
    text-align: left;
}

@media screen and (width >= 500px) {
    .tech__main__technologies__element__icon{
        margin-right: 2em;

    }
    .tech__main__technologies__element__name{
        display: block;
        font-size: 0.8em;
    }
   
}
@media screen and (width >= 768px) {
    .tech__main{
        flex-direction: column;
        transform: scale(1);
        margin-top: 3em;
    }
    .tech__header{
        font-size: 2.5em;
    }
    .tech__main__technologies{
        width: 60%;
    }
    .tech__main__nav{
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .tech__main__nav__element{
        font-size: 0.8em;
    }
}
@media screen and (width >= 900px) {
    .tech__main__nav__element{
        font-size: 1em;
    }
}
@media screen and (width >= 1240) {
    .tech__main__nav__element{
        font-size: 1.2em;
    }
}
@media screen and (width >= 1420) {
    .tech__main__nav__element{
        font-size: 1.4em;
    }
}