.card{ 
    transform: scale(0.5) translateY(-20%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid #ccc;
    background-color: #0a0a0a;
    padding: 0 2em ;
    border-radius: 10px;
}
.card__image{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 1px solid #ccc;
    overflow: hidden;
    margin-top: 2em
}
.card__text{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 2em;
}
.card__text__name{
    font-size: 1.5em;
    font-weight: 300;
    margin: 0.5em 0;
    color: var(--special-color);
    text-transform: uppercase;
    letter-spacing: 2px;
}
.card__text__data{
    color: #fff9
}
.card__text__position{
    font-size: 1.2em;
    font-weight: 600;
    padding: 0.5em 0;
    letter-spacing: 1px;
}
.card__text__tech{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1em 0 2em 0;
}
.card__text__tech__icon{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.2em 0.4em;
    width: 70px;
    font-size: 0.8em;
    border-radius: 10px;
    margin: 0 0.5em;
}
.card__text__tech__icon__svg > svg{
    width: 100%;
    height: 40px;
    padding-bottom: 0.4em;
}
.card__text__list__element{
 
    list-style-type: disc;
    padding: 0.5em 0;

}
.card__text__list__element{
    font-size: 0.9em;
}

@media screen and (width >= 500px) {
    .card{
        
        transform: scale(0.7);
    }
   
}
@media screen and (width >= 768px) {
    .card{
        
        transform: scale(1);
    }
   
}
