.layout{
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - var(--topnav-height));
    width: 100%;
    margin-top:  var(--topnav-height);
    margin-right: 60px;
}