
.projectNav__wrapper{
    display: none;
    position: relative;
    width: 200px;
    height: 130px;
    border-radius: 10px 0 10px 0;
    cursor: pointer;
}
.projectNav__wrapper__image{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 10px 0 10px 0;
}
.projectNav__wrapper__image__mask__right{
    position: absolute;
    top: 0;
    left:0;
    transform-origin: left;
    width: 100%;
    height: 100%;
    background-color: #000;
    z-index: 10;
}
.projectNav__wrapper__image__mask__left{
    position: absolute;
    top: 0;
    right:0;
    width: 100%;
    height: 100%;
    background-color: #000;
    transform-origin: left;
    z-index: 10;
}

.projectNav__wrapper__left > .projectNav__wrapper__navigation{
    right: 0;
    transform: translate(50%, -50%);
    z-index: 20;
}
.projectNav__wrapper__right > .projectNav__wrapper__navigation{
    left: 0;
    transform: translate(-50%, -50%);
    z-index: 20;
}
.projectNav__wrapper__left > .projectNav__wrapper__name{
    right: 0;
    transform: translate(80%, -50%);
    z-index: 20;
}
.projectNav__wrapper__right > .projectNav__wrapper__name{
    left: 0;
    transform: translate(-80%, -50%);
    z-index: 20;
}
.projectNav__wrapper__navigation{
    position: absolute;
    top: 50%;
    background-color: var(--special-color);
    padding: 0.2em 0.3em;
    text-transform: uppercase;
    font-size: 0.8em;
    color: #0a0a0a;
    font-weight: 400;
}

.projectNav__wrapper__name{
    position: absolute;
    top: 80%;
    background-color: #1e1e1e;
    padding: 0.2em 0.4em;
    border-radius: 10px 0 10px 0;

}
@media screen and (width >= 1080px) {
    .projectNav__text{
        margin: 0 2em;
        font-size: 0.7em;
    }
    .projectNav__wrapper{
        display: block;
    }
    .projectNav__arrow__left{
        margin-left: 5em;
    }
    .projectNav__arrow__right{
        margin-right: 5em;
    }
}
@media screen and (width >= 1240px) {
    .projectNav__text{
        margin: 0 6em;
        font-size: 0.8em;
    }
    .projectNav__wrapper{
        display: block;
    }
    .projectNav__arrow__left{
        margin-left: 8em;
    }
    .projectNav__arrow__right{
        margin-right: 8em;
    }
}