.projects{
    height: calc(100vh - var(--topnav-height));
    margin-top: var(--topnav-height);
    width: 100%;
    transition: transform .5s;
    position: absolute;
    display: flex;
    justify-content: center ;
    align-items: flex-start;
    top: 0;
    left: 0;
}
