.projects{
    height: calc(100vh - var(--topnav-height));
    margin-top: var(--topnav-height);
    width: 100%;
    transition: transform .5s;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-start ;
    align-items: center;
    top: 0;
    left: 0;
}
.projects__header{
    font-size: 1.5em;
    margin: 1.5em auto 2em  1em
}
.projects__text__switch{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 2em 1em;

}
.projects__text__switch__item{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    padding: 1em 2em;
    
    border-bottom: 1px solid rgba(255,255,255,0.6);
    cursor: pointer;
    font-size: 0.7em;
    transition: .3s ease-in-out;
    z-index: 3;

}
.projects__text__switch__item:hover{
    color: var(--special-color);
}
.projects__text__switch__item__active{
    color: var(--special-color);
    border-bottom: 1px solid var(--special-color);
}

.projects__text__wrapper{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 80%;
}
.projects__swipeable{
    width: 80%;

}
.projects__swipeable__wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    overflow: visible;
}
.projects__swipeable__wrapper__div{
    width: 100%;
    max-width: 300px;
    height: 200px;
    margin: 1em;

}
.projects__swipeable__wrapper__link > div{
    margin: 1em;
    width: 100%;
    height: 200px;
}
.projects__swipeable__wrapper__link > div:hover{
    cursor: pointer;
}

.projects__swipeable__wrapper__link__hover{
    
}

.projects__text__paragraph{}
.projects__text__paragraph__visible{}
.projects__text__paragraph__hide{}


@media screen and (width >= 700px) {
.projects__swipeable__wrapper{
    flex-direction: row;
}
.projects__header{
    margin: 1.5em 1em 2em  1em
}
.projects__text__switch{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 1em 2em 1em;

}

}