.projects{
    height: calc(100vh - var(--topnav-height));
    margin-top: var(--topnav-height);
    width: 100%;
    transition: transform .5s;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-start ;
    align-items: center;
    top: 0;
    left: 0;
}
.projects__header{
    font-size: 1.5em;
    margin: 1.5em auto 2em  1em
}
.projects__text__switch{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 2em 1em;

}
.projects__text__switch__item{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    padding: 1em 2em;
    
    border-bottom: 1px solid rgba(255,255,255,0.6);
    cursor: pointer;
    font-size: 0.7em;
    transition: .3s ease-in-out;
    z-index: 3;

}
.projects__text__switch__item:hover{
    color: var(--special-color);
}
.projects__text__switch__item__active{
    color: var(--special-color);
    border-bottom: 1px solid var(--special-color);
}

.projects__text__wrapper{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 80%;
}
.projects__swipeable{
    width: 80%;

}
.projects__swipeable__wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    overflow: visible;
}
.projects__swipeable__wrapper__div{
    position: relative;
    width: 100%;
    height: 200px;
    margin: 1em;
}
.projects__swipeable__wrapper__link{
    position: relative;
    width: 100%;
    height: 100%;
}
.projects__swipeable__wrapper__link__hover{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    opacity: 0;
    transition: .3s ease-in-out;
}
.projects__swipeable__wrapper__link__hover__bgc{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 8;
    opacity: 0;
    transition: .3s ease-in-out;
}
.projects__swipeable__wrapper__link:hover .projects__swipeable__wrapper__link__hover{
    opacity: 1;
}
.projects__swipeable__wrapper__link:hover .projects__swipeable__wrapper__link__hover__bgc{
    opacity: 1;
}
.projects__swipeable__wrapper__link__hover__one{
    position: absolute;
    bottom: 0 ;
    left:10%;
    background-color: #fff;
    width: 1px;
    height: 0;
    transition: height .3s ease-in;
    transition-delay: .4s;
    z-index: 9;
    opacity: 0;
}
.projects__swipeable__wrapper__link__hover__two{
    position: absolute;
    top: 0;
    left:0;
    background-color: #fff;
    width: 0;
    height: 1px;
    transition: width .3s ease-in;
    transition-delay: .7s;
    z-index: 9;
    opacity: 0;
}
.projects__swipeable__wrapper__link__hover__three{
    position: absolute;
    top: 0;
    right:0;
    background-color: #fff;
    width: 1px;
    height: 0;
    transition: height .3s ease-in;
    transition-delay: 1s;
    z-index: 9;
    opacity: 0;
}
.projects__swipeable__wrapper__link__hover__four{
    position: absolute;
    bottom: 0;
    right:0;
    background-color: #fff;
    width: 0;
    height: 1px;
    transition: width .3s ease-in;
    transition-delay: 1.3s;
    z-index: 9;
    opacity: 0;
}
.projects__swipeable__wrapper__link:hover .projects__swipeable__wrapper__link__hover__one{
    height: 100%;
    opacity: 1;
}
.projects__swipeable__wrapper__link:hover .projects__swipeable__wrapper__link__hover__two{
    width: 100%;
    opacity: 1;

}
.projects__swipeable__wrapper__link:hover .projects__swipeable__wrapper__link__hover__three{
    height: 100%;
    opacity: 1;

}
.projects__swipeable__wrapper__link:hover .projects__swipeable__wrapper__link__hover__four{
    width: 100%;
    opacity: 1;

}





.projects__text__paragraph{}
.projects__text__paragraph__visible{}
.projects__text__paragraph__hide{}


@media screen and (width >= 700px) {
.projects__swipeable__wrapper{
    flex-direction: row;
}
.projects__header{
    margin: 1.5em 1em 2em  1em
}
.projects__text__switch{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 1em 2em 1em;

}

}