.projects{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;
    --index: 2;
}
.projects__header{
    font-size: 2.5em;
    margin: 1em 0;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-weight: 500;
}
.projects__main{
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    
    height: 400px;
    width:70%;
    margin: 1em auto 3em auto;
}
.projects__main__navigation{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    
}

.projects__main__view{
    display: flex;
    height: 400px;
    border-radius: 10px;
    width: 60%;           /* image stays full width */
    position: relative;
    cursor: pointer;
}
.projects__main__view__mask{
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    background-color: #000;
    z-index: 10;
}
.projects__main__view__link{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
}
.projects__main__nav{
    
    width: 40%;
    height: 400px;
    background-color: red;
}
.projects__nav{
        display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width:100%;
}