@import "tailwindcss";
    /* background: #111;

  border-color: #393939;
  background: #0d0d0d; */
:root {
  --background: #ffffff;
  --foreground: #171717;
  --special-color: #dd9933;

}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --special-color: #dd9933;
  }
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: var(--background);
  color: var(--foreground);
  font-family: "IBM Plex Sans Condensed";
}
.main{
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: flex-start;
  overflow: hidden;
  flex-direction: column;
}