@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&family=Lexend:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";
:root {
  --background: #ffffff;
  --foreground: #171717;
  --special-color: #dd9933;
  --topnav-height: 100px;

}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --special-color: #dd9933;
    --topnav-height: 100px;
  }
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lexend", Roboto, sans-serif ;
  font-weight: 300;
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
    display: none;
    width: 0;
}
body {
  background: var(--background);
  color: var(--foreground);

}
.main{
  overscroll-behavior: none;
  overflow: hidden;
  touch-action: none;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  overflow-x: hidden;
  flex-direction: column;
  height: 100%;
  width: 100%;
  position: relative;
}
