.navsmall{
    position: fixed;
    top: 20%;
    left: 5%;
    display: none;
    z-index: 1000
}
.navsmall__info{
    display: flex;
    border-radius: 5px;
    overflow: hidden;
}
.navsmall__info__number{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.2em 0.4em;
    background-color: rgba(255,255,255,0.6);
    color: #111;
}
.navsmall__info__title{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.2em 0.8em;
    background-color: #111;
    color: rgba(255,255,255,0.6);;
    text-transform: uppercase;
    font-size: 0.8em;
}
.navsmall__arrows{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 0.5em;
}
.navsmall__arrow:hover{
    color: var(--special-color);
    cursor: pointer;
}
.navsmall__arrow__deactivated{
    pointer-events: none;
    color: gray;
}

@media screen and (width >= 768px) {
    .navsmall{
        display: flex;
    }
}