.leftLine{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 50px;
    z-index: 1000;
    width: 1px;
    height: 100vh;
}
.leftLine__top{
    position: absolute;
    top: 0;
    left: 10%;
    width: 1px;
    background-color: rgba(255,255,255,0.2);
    bottom: calc(100vh - (30px));
    overflow: hidden;
    pointer-events: none;
}
.leftLine__mid{
    position: absolute;
    top: calc(20px + 40px + 10px);
    left: 10%;
    width: 1px;
    background-color: rgba(255,255,255,0.2);
    bottom: calc(80px + 40px + 10px);
    overflow: hidden;
    pointer-events: none;
}
.leftLine__bot{
   position: absolute;
    bottom: 0;
    left: 10%;
    width: 1px;
    background-color: rgba(255,255,255,0.2);
     top: calc(100vh - (30px + 40px));
    overflow: hidden;
    pointer-events: none;
}
.leftLine__top::before{
    content: "";
    display: block;
    position: absolute;
    width: 2px;
    height: 2px;
    border-radius: 50%;
    bottom: 0;
    left: 0;
    transform: translateX(-50%);
    background-color: #fff;
}
.leftLine__mid::before{
    content: "";
    display: block;
    position: absolute;
    width: 2px;
    height: 2px;
    border-radius: 50%;
    top: 0;
    left: 0;
    transform: translateX(-50%);
    background-color: #fff;
}
.leftLine__mid::after{
    content: "";
    display: block;
    position: absolute;
    width: 2px;
    height: 2px;
    border-radius: 50%;
    bottom: 0;
    left: 0;
    transform: translateX(-50%);
    background-color: #fff;
}
.leftLine__bot::before{
    content: "";
    display: block;
    position: absolute;
    width: 2px;
    height: 2px;
    border-radius: 50%;
    top: 0;
    left: 0;
    transform: translateX(-50%);
    background-color: #fff;
}
.leftLine__socials{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 80px;
    width: 40px;
    border-radius: 50%;
    height: 40px;
    transform: translateX(-50%);
    cursor: pointer;
}
.leftLine__socials__icon{
   position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    cursor: pointer; 
    z-index: 6;
    
}
.leftLine__socials__icon:hover{
    color: var(--special-color);
}
.leftLine__socials__icon > svg{
    width: 40%;
    height: 40%;
}
.leftLine__socials__unwrap{
    position: absolute;
    top: 0;
    left: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 160px;
    height: 40px;
    text-transform: uppercase;
    font-size: 0.8em;
    letter-spacing: 2px;
    cursor: pointer; 
    overflow: hidden;
    z-index: 5;
    visibility: hidden;
    transition: .4s ease-in-out;
    transition-delay: .2s;
    clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
    color: #999;
}
.leftLine__socials__unwrap:hover{
    visibility:  visible;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}
.leftLine__socials__unwrap > span{
    color: var(--special-color)
}
.leftLine__socials__unwrap > a:hover{
    color: var(--special-color)
}
.leftLine__socials__icon:hover + .leftLine__socials__unwrap{
    visibility:  visible;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}