.experience{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: calc(100% );
    --index: 4;
}
.experience__header{
   font-size: 1.5em;
    margin: 3em 0 1em 0;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-weight: 300;
}
.experience__main{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: flex-start;
    width: 80%;
    height: calc(100% - var(--topnav-height));
}
@media screen and (width >= 500px) {
    .experience__header{
        margin: 1em 0 1em 0;
    }
}
@media screen and (width >= 768px) {
   
    .experience__main{
        height: 100%;
    }
    .experience__header{
      font-size: 2.5em;
    }
   
}
