.experience{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;
    --index: 4;
}
.experience__header{
   font-size: 2.5em;
    margin: 1em 0;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-weight: 300;
}
.experience__main{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    width: 80%;
    height: 100%;
}