.about{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
}
.about__text{
    width: 60%;
    height: 100%;
    padding: 4em 5em 0 8em;
    color: #878787;
    line-height: 30px;
    font-weight: 300;
    max-width: 800px;
}
.about__text__switch{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 11em;
}
.about__text__switch__item{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    padding: 1em 2em;
    margin-bottom: 2em;
    border-bottom: 1px solid rgba(255,255,255,0.6);
    cursor: pointer;
    font-size: 1em;
    transition: .3s ease-in-out;
    z-index: 3;

}
.about__text__switch__item:hover{
    color: var(--special-color);
}
.about__text__switch__item__active{
    color: var(--special-color);
    border-bottom: 1px solid var(--special-color);
}




.about__picture{
    position: relative;
    width: 40%;
    height: 100%;
}
.about__picture__one{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    z-index:2;
}
.about__picture__two{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    z-index:2;
    background-position: center;

}
.about__picture__two {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    z-index:2;
}

.about__text__icons{
    display: flex;
    flex-wrap: wrap;
}
.about__text__icons__wrapper{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 40%;
    flex-grow: 1;
    margin: 1em 0 ;
}
.about__text__icons__wrapper__number{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size:3em;
    color: var(--special-color);
    padding-right: 0.2em;
}
.about__text__icons__wrapper__number > svg{
    width:42px;
    height:42px;
}
.about__text__icons__wrapper__text{
    color: #4e4e4e;
    font-size: 0.8em;
    text-transform: uppercase;
    line-height: 1.167em;
    font-weight: bold;
    
}
.about__text__wrapper{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.about__text__paragraph__text{
    font-size: 0.9em;
    width: 100%;
}
.about__text__paragraph__text__highlighted{
    font-size: 1.1em;
    color: var(--special-color);
}

.about__text__paragraph__fromtop{
    transform: translate(0, 0);
    opacity: 1;
    transition: opacity .2s ease-in-out, transform .6s ease-in-out ;
}
.about__text__paragraph__hidebottom{
    opacity: 0;
    transform: translate(0, 200%);
    transition: opacity .2s ease-in-out, transform .6s ease-in-out ;
}
.about__text__paragraph__hidetop{
    transform: translate(0, -200%);
    opacity: 1;
    transition: .6s ease-in-out;
}
.about__text__paragraph__frombottom{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 1;
    transition: .6s ease-in-out;
    
}
.about__text__paragraph__hide{
    position: absolute;
    top: 100%;
    left: 0;
    transition: .6s ease-in-out;
    opacity: 0;
}
.about__text__paragraph__show{
       opacity: 1;
    transform: translate(0, 0);
    transition: .6s ease-in-out;
}