.navside {
  background: #111;
  margin-left: auto;
  width: 60px;
  height: 90vh;
  border-color: #393939;
  background: #0d0d0d;
  margin-top: auto;
  position: fixed;
  top: 100px;
  right: 0;
  z-index: 100;
  box-sizing: border-box;
  border-left: 1px solid rgba(255,255,255,0.2);
}
.navside__line{
  display: block;
  position: absolute;
  width: 2px;
  height: 50px;
  left: 1%;
  background-color: var(--special-color);
  z-index: 5;
  transition: .4s ease-in;
  transform: translate(0, -50%);
}
.navside__list {
  height: calc(100%/5);
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  font-size: 0.8em;
  box-sizing: border-box;
}

.navside__list__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-grow: 1;
  cursor: pointer;
  color: #353535;
  border-bottom: 1px solid #131313;
  transition: .4s ease-in;
  position: relative;
  border-left: #fff;
}
.navside__list__item__active {
  background: #161616;
  color: #999999;
}
.navside__list__item__active > .navside__list__item__span{
  color: #999999;
}
.navside__list__item:hover > .navside__list__item__span{
  transform: translateX(0) translateY(-50%);

}
.navside__list__item__span {
  white-space: nowrap;
  position: absolute;
  top: 50%;
  font-weight: bold;
  text-transform: uppercase;
  font-family: "IBM Plex Sans Condensed";
  line-height: 1em;
  font-size: 48px;
  transition: all 0.5s ease;
  right: 0;
  transform: translateX(100%) translateY(-50%);
}
