.contact{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact__form{
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.contact__form__line{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 40%;
    flex-grow: 1;
    margin: 2em 1em;
    position: relative;
}
.contact__form__line__label{
    margin-bottom: 0.3em;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #b1b0b0;
    font-size: 0.8em;
    font-family: "IBM Plex Sans";
    font-weight: 400;
}
.contact__form__line__input{
    outline: none;
    border: none;
    padding: 0.3em 0.5em ;
    cursor: text;
}
.contact__form__line__input:focus + .contact__form__line__span__gold{
    width: 100%;
}
.contact__form__line__textarea{
    width: 100%;
    resize: none;
    height: 150px;
    flex-grow: 1;
    cursor: text;
    border: none;
    outline: none;
    padding: 0.3em 0.5em ;
}
.contact__form__line__textarea:focus + .contact__form__line__span__gold{
    width: 100%;
}
.contact__form__line__span{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #474141;
    transition: .6s ease-in;
    z-index: 2;
}
.contact__form__line__span__gold{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    background-color: var(--special-color);
    transition: .6s ease-in;
    z-index: 3;

}
input:-webkit-autofill {
  background-color: red !important;

  border: 1px solid #ccc !important;
}
input:-webkit-autofill::first-line {
    background-color: transparent !important;
}
.contact__form__line__span__gold__active{
    width: 100%;
}
.contact__form__line__error{
    position: absolute;
    display: flex;
    bottom: 0%;
    font-size: 0.8em;
    left: 0;
    transform: translateY(130%);
    width: 100%;
    color: rgb(189, 11, 11);
}
.contact__form__line__error__inactive{
    display: none;
}
.contact__form__line:last-child > .contact__form__line__error{
    position: absolute;
    bottom: 0;
    font-size: 0.8em;
    left: 0;
    width: 100%;
    color: rgb(189, 11, 11);
}
.contact__form__submit{
    width: 100%;
    margin-top: 1em;
    display: flex;
    justify-content: center;
    align-items: center;

}
.contact__form__submit__input{
    padding: 0.8em 5em;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 0.8em;
    transition: .3s ease-in-out;
    font-family: "IBM Plex Sans";
  
}
.contact__form__submit__input__active{ 
    cursor: pointer;
    background-color: var(--special-color);
    color: #fff;
}
.contact__form__submit__input__active:hover{
    color: #474141;;
}
.contact__form__submit__input__inactive{ 
    color: var(--special-color);
    background: #2d2d2d;
    pointer-events: none;
}