.projectNav{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    width: 80%;
}
.projectNav__middle{
    display: flex;
    justify-content: space-around;
    width:  clamp(20rem, 22vw , 40rem);
}

.projectNav__text{
    position: relative;
    font-size: 0.7em;
    font-weight: 300;
    font-family: serif;
    cursor: pointer;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding-bottom: 0.2em;
    margin: 0 1em;
    text-align: center;
}
.projectNav__text__span{
    position: absolute;
    bottom: 0;
    background-color: var(--special-color);
    right: 0;
    width: 100%;
    height: 1px;
    transition: .4s ease-in-out;
}
.projectNav__text:hover > .projectNav__text__span{
    width: 0;
}

@media screen and (width >= 1240px) {
    .projectNav__text{
        font-size: 0.8em;
    }
}