.layout{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height: 100vh;
    margin-right: 60px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000;
}
