.nav{
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100px;
    margin-left: 40px;
    background-color: var(--background);
    z-index: 500;
}
.nav__text{
    text-transform: uppercase;
    font-family: "IBM Plex Sans";
    font-weight: 400;
    color:#b1b0b0 ;
}
.nav__cv{
    text-transform: uppercase;
    font-family: "IBM Plex Sans";
    font-weight: 400;
    color:#b1b0b0 ;
    margin-right: 70px;
}
.nav__cv:hover{
    color: var(--special-color)
}