.nav{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100px;
    margin-left: 40px;
}
.nav__text{
    text-transform: uppercase;
    font-family: "IBM Plex Sans";
    font-weight: 400;
    color:#b1b0b0 ;
}