.nav{
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: var(--topnav-height);
    background-color: var(--background);
    z-index: 500;
    font-size: 0.7em;
    min-width: 320px;
}
.nav__links{
    display: flex;
}
.nav__text{
    text-transform: uppercase;
    font-weight: 300;
    margin-left: 20px;
    color:#b1b0b0 ;
}
.nav__cv, .nav__link{
    display: none;
    text-transform: uppercase;
    font-weight: 300;
    color:#b1b0b0 ;
    margin-right: 20px;
    transition: .2s ease-in-out;
}
.nav__cv:hover, .nav__link:hover{
    color: var(--special-color)
}

@media screen and (width >= 768px) {
    .nav{
        font-size: 0.9em;
    }
    .nav__text{
        margin-left: 40px;
    }
    .nav__cv{
        display: flex;
        margin-right: 40px;
    }
    .nav__link{
        display: flex;
        margin-right: 1em;
    }
   
}
