.about{
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 100px);
    width: 100%;
}
.about__text{
    width: 60%;
    height: 100%;
    background-color: gray;

}
.about__picture{
    position: relative;
    width: 40%;
    height: 100%;
    overflow: hidden; 
}
